aside {
	background-color: var(--bs-gray-300);
}

i.avatar {
	font-size: 3em;
	color: gray;
	margin-right: 0.7em;
	align-self: flex-end;
}

.contact {
	display: flex;
	padding: 1em;
	cursor: pointer;
}

.contact:hover {
	background-color: #F1F6FA;
}

.contact .name { font-weight: bold; }
.contact .description {
	font-style: italic;
	color: rgb(87, 87, 87);
}

.message {
	margin-bottom: 1em;
}

.message > div { display: flex; }
.message.self > div { justify-content: flex-end; }

.message div.meta {
	margin-top: 0.5em;
	font-style: italic;
	font-size: 0.7em;
	color: rgb(63, 63, 63);
}

.message.self {	align-self: flex-end; }
.message.other { align-self: flex-start; }

.message .content {
	background-color: lightgray;
	border-radius: 0.5em;
	padding: 0.7em 1.3em;
}

.message.other .content {
	text-align: left;
	border-bottom-left-radius: 0;
}
.message.self .content {
	text-align: right;
	border-bottom-right-radius: 0;
	justify-self: end;
}

.message span.contact_name {
	display: block;
	font-weight: bold;
}
